<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Home appliances app</h1>

  <h2>
    You can store your home appliances and have a nice overview.<%= link_to "Try it.", signup_path %>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
