<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Vitajte na stránke findyourbreaker</h1>

  <h2>
    Aplikácia je určená pre ľudí bývajúcich v rodinnom dome. Ulož si svoje domáce spotrebiče, vytvor si scenáre ich používania a zisti, aký istič o akej kapacite by si mal mať zakúpený.<%= link_to "Poď na to!", signup_path %>
  </h2>

  <%= link_to "Zaregistrovať sa!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
