
	<li>
    <%= user.id %>
		<%= link_to user.email, user_path(user) %>
		<% if current_user.admin? && !current_user?(user) %>
			<%= link_to "delete", user_path(user), method: :delete, class: 'btn btn-danger', id: 'add-button', data: {confirm: "You sure?"} %>
		<% end %>
	</li>