  <% @rooms.each do |room| %>
      <li class="active">
        <%= link_to  user_scenarios_path(current_user, room_id: room.id), remote: true, class: 'rooms-nav-link' do %>
            <%= room.name %>
        <% end %>
      </li>
  <% end %>
  <li id="add-button-li-background">
    <%= link_to "Pridaj", '#', id: 'add-button-li',  data: {toggle: 'modal', target: '#bigModal'}  %>
  </li>
  <div id="text">

  </div>
  <div id="text2">

  </div>