<% provide(:title, 'Dashboard') %>
<h1>Scenarios</h1>

  <div class = "row">
    <%= link_to "Vytvor", new_user_scenario_path(current_user), class: "btn btn-primary", id: "new-scenario-button" %>
  </div>
<% if @scenarios == nil or @scenarios.empty? %>
    <p class="no-entries">Nemáš vytvorené žiadne scenáre...</p>
<% else %>
    <%= render partial: "scenarios/scenarios" %>
<% end %>