<% provide(:title, 'Appliances') %>
<h1> Domáce spotrebiče </h1>
<% if @hash_of_records.any? %>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <%= render partial: "entries" %>
    </div>
<% else %>
    <p class="no-entries">Nemáš uložené žiadne elektrické spotrebiče...</p>
<% end %>