@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/**************/
/* TYPOGRAPHY */
/**************/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/***********/
/*UNIVERSAL*/
/***********/

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/********/
/* FORM */
/********/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.table th, td{
  text-align: center;
}

select{
  width: 10%;
  height: 33px;
}

#search_button{
  width: 100px;
  height: 10px;
}

.users li {
    line-height: 40px;
}

.users li a {
    vertical-align: middle;
}

/**********/
/* HEADER */
/**********/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/**********/
/* FOOTER */
/**********/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/*****************/
/* MISCELLANEOUS */
/*****************/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/*************/
/*USERS INDEX*/
/*************/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.head-of-appliance-entry {
  padding-top: 10px;
}

.appliance-entry:nth-child(odd){
  background: #e1e1ea;
}

.appliance-entry{
  background-color:white;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.appliance-entry:hover{
  background-color: #f2f2f2;
}

.appliance-entry, .head-of-appliance-entry{
  line-height: 50px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.UD-components{
  text-align: right;
  padding-right: 50px;
}


.collapsible-link{
  padding-right: 80%;
  text-decoration: none;
}

.collapsible-link:active, .collapsible-link:focus{
  outline: none;
}

.collapsible-link:hover{
  text-decoration: none;
}


.add-buttons{
  padding-bottom: 3px;
}

.nav-stacked{
  max-width: 200px;
}

#remove-component{
  margin-left: 20px;
}

#save-button{
  width: 10%;
}

#add-button-bottom, .add-buttons{
  float: right;
  margin-right: 15px;
  border: none;
  background: transparent;
  padding: 0px 0px;
}

#add-button-row-background{
  text-align: center;
  line-height: 40px;
  border: 2px dashed;
  border-radius: 5px;
  border-color: gray;
  margin-top: 5px;
}

#add-button-row{
  font-weight: bold;
  color: gray;
  font-size: 18px;
  padding-left: 40%;
  padding-right: 40%;
  outline: none;
}

#add-button-li-background{
  text-align: center;
  border: 2px dashed;
  border-radius: 5px;
  border-color: gray;
  margin-top: 7px !important;
  background: transparent !important;
}

#add-button-li{
  font-weight: bold;
  color: gray;
  font-size: 15px;
  padding-left: 30%;
  padding-right: 30%;
  outline: none;
}


#add-button-row:hover{
  text-decoration: none;
}

#add-button-li:hover{
  background: transparent !important;
}



#add-button-bottom:hover{
  color:blue;
}

#add-component:hover{
  color: blue;
}

#plus-component{
  padding-top: 3px;
}

#new-scenario-button{
  float: right;
}

.nav-pills > li {
  margin-top: 0px !important;
}

.nav-pills > li > a{
    border-radius: 0px;
    outline: none;
}

.nav-pills > li > a:hover{
  background-color:  #ccccff !important;
}

ul.nav-pills{
  width: 16%;
}

.table_entries{
  margin-left: 15px;
  width: 78%;
}

.inside-content{
  float: left;
}

#hidden-htag{
  display: none;
}

footer{
  clear: left;
}
.appliance-entry, #add-button-row-background {
  margin-left: -5px !important;
  margin-right: -5px !important;
}

/************/
/*OVERRIDING*/
/************/

.panel-body{
  padding: 0px 15px 0px 15px !important;
  border-top: none !important;
}


