@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/**************/
/* TYPOGRAPHY */
/**************/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/***********/
/*UNIVERSAL*/
/***********/

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/********/
/* FORM */
/********/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.table th, td{
  text-align: center;
}

select{
  width: 10%;
  height: 33px;
}

#search_button{
  width: 100px;
  height: 10px;
}

.users li {
    line-height: 40px;
}

.users li a {
    vertical-align: middle;
}

/**********/
/* HEADER */
/**********/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/**********/
/* FOOTER */
/**********/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/*****************/
/* MISCELLANEOUS */
/*****************/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/*************/
/*USERS INDEX*/
/*************/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.no-entries{
  margin-top: 50px;
  text-align: center;
  color: #bbb;
}

.navbar-default{
  padding: 0px 15px;
}

.navbar-toggle{
  border: none;
}

.navbar-toggle, .collapsed {
  bacground-color: #555 !important;
}

.navbar-toggle:focus{
  background-color: #ddd !important;
}


.nav-pills > li {
  margin-top: 0px !important;
}

.nav-pills > li > a{
  border-radius: 0px;
  outline: none;
}

.navbar-brand{
  font-size: 16px;
}

.navbar-inverse{
  background: none;
  border: none;
}

.navbar-nav > li.active > a{
  color: #555 !important;
  background-color: #e7e7e7 !important;
}

.navbar-nav > li > a:hover, .navbar-brand:hover{
  color: #333 !important;
}

.navbar-header{
  padding-left: 15px;
}

.label, .glyphicon{
  margin-right:5px;
}

.open > a{
  color: #555 !important;
  background-color: #e7e7e7 !important;
}

.open > ul > li > a:hover{
  color: #fff;
  text-decoration: none;
  background-color: #428bca;
}

.navbar-default{
  padding: 0px 15px;
}

.navbar-toggle{
  border: none;
}

.navbar-toggle, .collapsed {
  bacground-color: #555 !important;
}

.navbar-toggle:focus{
  background-color: #ddd !important;
}

.icon-bar{
  background-color: #888 !important;
}

.nav-pills > li {
  margin-top: 0px !important;
}

.nav-pills > li > a{
    border-radius: 0px;
    outline: none;
}


.navbar-brand{
  font-size: 16px;
}


footer{
  clear: left;
}

/************/
/*OVERRIDING*/
/************/

.panel-body{
  padding: 0px 15px 0px 15px !important;
  border-top: none !important;
}


