<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Home Appliances</a>
    by <a href="http://www.michaelhartl.com/">Martin Zak</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Úvodná stránka", root_path %></li>
    </ul>
  </nav>
</footer>